@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title</h1>

<address>
    Explore Dhaka<br />
    <br />
    5605 Nota Street<br />
    Ventura, CA 93003<br />
    <br />
    866.555.4310
</address>

<address>
    <strong>Bookings:</strong>   <a href="mailto:Bookings@exploredhaka.org">bookings@exploredhaka.org</a><br />
</address>